
[KGameTheme]
VersionFormat=1
Name=KAtomic Default Theme
Description=KAtomic Default Theme.
FileName=default_theme.svgz

[Desktop Entry]
Name[en_US]=default_theme.desktop
