
[KGameTheme]
VersionFormat=1
Name=KAtomic Default Theme
Name[bs]=Podrazumijevana tema K‑atomike
Name[ca]=Tema predeterminat del KAtomic
Name[ca@valencia]=Tema predeterminat del KAtomic
Name[cs]=Výchozí motiv KAtomic
Name[da]=KAtomics standardtema
Name[de]=Standard
Name[el]=Προκαθορισμένο θέμα KAtomic
Name[en_GB]=KAtomic Default Theme
Name[es]=Tema predeterminado de KAtomic
Name[et]=KAtomicu vaiketeema
Name[fi]=KAtomic-pelin oletusteema
Name[fr]=Thème par défaut pour KAtomic
Name[ga]=Téama Réamhshocraithe KAtomic
Name[gl]=Tema visual por omisión do KAtomic
Name[hu]=Alapértelmezett KAtomic-téma
Name[it]=Tema predefinito per KAtomic
Name[kk]=KAtomic-тың әдетті нақышы
Name[km]=ស្បែក​លំនាំ​ដើម​របស់ KAtomic
Name[lv]=KAtomic noklusējuma tēma
Name[mr]=के-एटोमिक मूलभूत शैली
Name[nb]=KAtomic standardtema
Name[nds]=KAtomic-Standardmuster
Name[nl]=Standaardthema van KAtomic
Name[pl]=Domyślny motyw KAtomic
Name[pt]=Tema Predefinido do KAtomic
Name[pt_BR]=Tema padrão do KAtomic
Name[ru]=Оформление по умолчанию для KAtomic
Name[sk]=Štandardná téma KTAtomic
Name[sl]=Privzeta tema za KAtomic
Name[sr]=Подразумевана тема К‑атомике
Name[sr@ijekavian]=Подразумијевана тема К‑атомике
Name[sr@ijekavianlatin]=Podrazumijevana tema K‑atomike
Name[sr@latin]=Podrazumevana tema K‑atomike
Name[sv]=Katom standardtema
Name[tr]=KAtomic Öntanımlı Teması
Name[uk]=Типова тема KAtomic
Name[x-test]=xxKAtomic Default Themexx
Name[zh_CN]=KAtomic 默认主题
Name[zh_TW]=KAtomic 預設主題
Description=KAtomic Default Theme.
Description[bs]=Podrazumijevana tema K‑atomike
Description[ca]=Tema predeterminat del KAtomic.
Description[ca@valencia]=Tema predeterminat del KAtomic.
Description[cs]=Výchozí motiv KAtomic.
Description[da]=KAtomic standardtema.
Description[de]=Das Standard-Design von KAtomic.
Description[el]=Προκαθορισμένο θέμα KAtomic.
Description[en_GB]=KAtomic Default Theme.
Description[es]=Tema predeterminado de KAtomic
Description[et]=KAtomicu vaiketeema.
Description[fi]=KAtomic-pelin oletusteema.
Description[fr]=Thème par défaut pour KAtomic.
Description[ga]=Téama Réamhshocraithe KAtomic.
Description[gl]=Tema visual por omisión do KAtomic.
Description[hu]=Alapértelmezett KAtomic-téma.
Description[it]=Tema predefinito per KAtomic.
Description[kk]=KAtomic ойынның әдетті нақышы.
Description[km]=ស្បែក​លំនាំ​ដើម​របស់ KAtomic ។
Description[lv]=KAtomic noklusējuma tēma.
Description[mr]=के-एटोमिक मूलभूत शैली.
Description[nb]=KAtomic standardtema.
Description[nds]=KAtomic-Standardmuster
Description[nl]=Standaardthema van KAtomic.
Description[pl]=Domyślny motyw KAtomic.
Description[pt]=Tema Predefinido do KAtomic.
Description[pt_BR]=Tema padrão do KAtomic.
Description[ru]=Оформление по умолчанию для KAtomic.
Description[sk]=Štandardná téma KAtomic.
Description[sl]=Privzeta tema za KAtomic.
Description[sr]=Подразумевана тема К‑атомике
Description[sr@ijekavian]=Подразумијевана тема К‑атомике
Description[sr@ijekavianlatin]=Podrazumijevana tema K‑atomike
Description[sr@latin]=Podrazumevana tema K‑atomike
Description[sv]=Katom standardtema
Description[tr]=KAtomic Öntanımlı Teması.
Description[uk]=Типова тема KAtomic.
Description[x-test]=xxKAtomic Default Theme.xx
Description[zh_CN]=KAtomic 默认主题。
Description[zh_TW]=KAtomic 預設主題
FileName=default_theme.svgz

[Desktop Entry]
