<!DOCTYPE kpartgui>
<gui name="katomic" version="9">

<MenuBar>
  <Menu name="game">
    <Action name="prev_level" />
    <Action name="next_level" />
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Action name="anim_speed" />
  </Menu>
  <Menu name="move">
    <Action name="undo_all" />
    <Action name="redo_all" />
  </Menu>
</MenuBar>

<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="prev_level" />
  <Action name="next_level" />
  <Separator />
  <Action name="undo_all" />
  <Action name="move_undo" />
  <Action name="move_redo" />
  <Action name="redo_all" />
</ToolBar>

</gui>
