<?xml version="1.0" encoding="UTF-8"?>
<gui name="katomic"
     version="13"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">

<MenuBar>
  <Menu name="game">
    <Action name="prev_level" />
    <Action name="next_level" />
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Action name="anim_speed" />
  </Menu>
  <Menu name="move">
    <Action name="move_undo_all" />
    <Action name="move_redo_all" />
  </Menu>
</MenuBar>

<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="game_restart" />
  <Separator />
  <Action name="move_undo" />
  <Action name="move_redo" />
  <Separator />
  <Action name="prev_level" />
  <Action name="next_level" />
</ToolBar>

</gui>
