[Desktop Entry]
Encoding=UTF-8
Name=KAtomic
Name[af]=Katomic
Name[ar]=لعبة التركيب الجزيئي الكيميائي (KAtomic)
Name[bn]=কে-অ্যাটমিক
Name[eo]=Atomoj
Name[hi]=के-एटॉमिक
Name[pl]=Atomy
Name[pt_BR]=KAtômico
Name[ru]=Забавные атомы
Name[sv]=Katomic
Name[ta]=கேஅடாமிக்
Name[tg]=KАтомҳо
Name[th]=อะตอมมิก - K
Name[tr]=Atomlar
Name[xx]=xxKAtomicxx
Name[zh_TW]=KAtomic 原子
Icon=katomic
Type=Application
Exec=katomic %i %m -caption "%c"
DocPath=katomic/index.html
GenericName=Sokoban-like Logic Game
GenericName[bg]=Логическа игра с атоми
GenericName[ca]=Joc de lògica similar al Sokoban
GenericName[cs]=Logická hra jako Sokoban
GenericName[da]=Sokoban-lignende logisk spil
GenericName[de]=Logikspiel (ähnlich Sokoban)
GenericName[es]=Juego de lógica similar al Sokoban
GenericName[et]=Sokobani moodi loogikamäng
GenericName[fi]=Sokoban-tyylinen Logiikkapeli
GenericName[fr]=Jeu de logique dans le style de Sokoban
GenericName[ga]=Cluiche Loighce Mar Sokoban
GenericName[he]=חיקוי Sokoban, משחק לוגי
GenericName[hu]=Sokoban-szerű logikai
GenericName[is]=Leikur sem líkist Sokoban
GenericName[it]=Gioco di logica simile a Sokoban
GenericName[nl]=Sokoban-achtig logisch spel
GenericName[pl]=Gra logiczna typu Sokoban
GenericName[pt]=Jogo de Lógica tipo Sokoban
GenericName[pt_BR]=Jogo Lógico parecido com Sokoban
GenericName[ru]=Логическая игра похожая на Сокобан
GenericName[sl]=Logična igra podobna Sokobanu
GenericName[sr]=Логичка игра налик на Sokoban
GenericName[sr@Latn]=Logička igra nalik na Sokoban
GenericName[sv]=Sokoban-liknande logiskt spel
GenericName[ta]=சோகோபான் போன்ற லாஜிக் விளையாட்டு
GenericName[uk]=Гра на логіку подібна до Sokoban
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;StrategyGame;
