[Desktop Entry]
Name=Atomic Entertainment
Name[ca]=Distracció atòmica
Name[de]=Atom-Unterhaltung
Name[eo]=Atoma amuzo
Name[fi]=Atomiviihdettä
Name[hu]=Atomikus Szórakozás
Name[mi]=Atomikus Szórakozás
Name[no_NY]=Atomisk underhaldning
Name[sv]=Atomunderhållning
Type=Application
Exec=katomic %i %m -caption "%c"
DocPath=katomic/index.html
Comment=Build molecules in fewer moves possible
Comment[ca]=Construeix molècules amb els moviments mínims
Comment[de]=Der Aufbau von Molekülen ist in weniger Schritten möglich...
Comment[eo]=Faru molekulojn per plej malmultaj movoj
Comment[fi]=Rakenna atomeja mahdollisimman vähillä siirroilla
Comment[hu]=Molekula építés a minnél kevesebb lépésbõl
Comment[ja]=¤Ç¤­¤ë¸Â¤ê¾¯¤Ê¤¤Æ°¤­¤ÇÊ¬»Ò¤òºîÀ®
Comment[mi]=Molekula építés a minnél kevesebb lépésbõl
Comment[no_NY]=Bygg molekyl med så få flyttingar som du klarar
Comment[sr]=Izgradite molekule iz ¹to manje pokreta
Comment[sv]=Bygg molekyler med minsta antal drag
