[Desktop Entry]
Encoding=UTF-8
Name=KAtomic
Name[x-test]=xxKAtomicxx
Icon=katomic
Type=Application
Exec=katomic -caption "%c"
DocPath=katomic/index.html
GenericName=Sokoban-like Logic Game
GenericName[fr]=Jeu de logique dans le style de Sokoban
GenericName[x-test]=xxSokoban-like Logic Gamexx
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;
